@model SOFT703A2.Infrastructure.Contracts.ViewModels.Product.IListProductViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var filterProductsPath = '@Url.Action("FilterProducts", "MarketPlace")'
    var productDetailPath = '@Url.Action("Detail", "Product")'
    var productDeletePath = '@Url.Action("Delete", "Product")'
    var productPromotePath = '@Url.Action("Promote", "Product")'
    var productUnPromotePath = '@Url.Action("UnPromote", "Product")'
</script>
<script src="/js/Product/List.js"></script>

<h2>Products</h2>
<div class="row">
    <!-- First Row: Product Search Bar and Button -->
    <div class="col-md-10">
        <div class="form-group">
            <input type="text" id="productName" class="form-control" placeholder="Search by Name">
        </div>
    </div>
    <div class="col-md-1">
        <button id="searchButton" class="btn btn-primary" style="width: 70px;">Search</button>
    </div>
    <div class="col-md-1">
        <a href="@Url.Action("Add", "Product")" class="btn btn-primary" style="width: 70px;">Add</a>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="categoryCheckbox">
            <label class="form-check-label" for="categoryCheckbox">Search by Category</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="promotedCheckbox">
            <label class="form-check-label" for="promotedCheckbox">Search Promoted Products</label>
        </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-1">
        <button id="sortButton" class="btn btn-primary" style="width: 70px;">Sort</button>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Photo Url</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="product-table-body">
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>
                    <img src="@product.Photo" width="100" height="100"/>
                </td>
                <td>@product.Stock</td>
                <td>@product.Price</td>
                <td>@product.Category.Name</td>
                <td>
                    <a href="@Url.Action("Detail", "Product", new { id = product.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-danger">Delete</a>
                    @if(product.IsPromoted)
                    {
                        <a href="@Url.Action("UnPromote", "Product", new { id = product.Id })" class="btn btn-warning">Demote</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Promote", "Product", new { id = product.Id })" class="btn btn-success">Promote</a>
                       
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>